/* ==========================================
   GTM Navigation
========================================== */

.navbar{

    background:#0f1012 !important;

    border-bottom:1px solid rgba(255,255,255,.06);

    padding:16px 0;

    transition:.35s;

}

.navbar-brand img{

    height:58px;

    transition:.35s;

}

.navbar-nav{

    gap:12px;

}

.nav-link{

    color:#d6d6d6 !important;

    font-size:15px;

    font-weight:600;

    letter-spacing:.3px;

    padding:10px 14px !important;

    border-radius:8px;

    transition:.25s;

}

.nav-link:hover{

    color:white !important;

    background:rgba(217,4,41,.12);

}

.nav-link.active{

    color:white !important;

    background:var(--gtm-red);

}