/* ===========================================
   GTM CONTROL CENTER
   Theme Version 1.0
=========================================== */

:root {

	/* Farben */
	--gtm-black: #121212;
	--gtm-graphite: #1E1E1E;
	--gtm-red: #D90429;
	--gtm-gold: #D4AF37;
	--gtm-white: #F5F5F5;
	--gtm-silver: #BFC3C7;

	/* Schrift */
	--font-main: "Segoe UI", Arial, sans-serif;

	/* Größen */
	--radius: 12px;
	--transition: 0.3s;
}

/* Reset */

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{

	background:var(--gtm-black);
	color:var(--gtm-white);

	font-family:var(--font-main);

}
